@using Mailr.Models.Test
@model Mailr.Models.Test.TestBody
@addTagHelper *, Mailr
@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <style>
        
        
    </style>
</head>
<body>

<h2 class="title">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p class="greeting">@Model.Greeting</p>
<hr/>
@{
    Html.RenderPartial("Footer-v2");
}

</body>
</html>