@using Mailr.Extensions.Models
@model Mailr.Models.Test.TestBody
@addTagHelper *, Mailr.Extensions
@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <style>
    </style>
</head>
<body>

    <h2 class="title">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p class="greeting">@Model.Greeting</p>
    <hr />

    <partial name="/src/Views/Shared/Footer.cshtml" model="@(new Footer())" />

</body>
</html>